@charset "UTF-8";
@font-face {
    font-family: Skia; src: url('http://www.mediafont.com/storage/contents/5905/font.eot'); /* IE */
    src: local('Skia'), url('http://www.mediafont.com/storage/contents/5905/Skia.ttf'); /* non-IE */
}

*:focus { outline: none; }

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif, "メイリオ";
    background-image: url("../img/bg1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-color: #ccdeed;
    color: #121212;
    outline: none;
    border: none;
}
a {
    font-size: 15px;
    color: #4E8BCD;
}
.cancel { 
    margin: 0px;
    padding: 0px;
    clear: both;
    overflow: hidden;
}
#wrapper {
    position: relative;
    min-height: 100%;
}
* html #wrapper { height: 100%; }
/* Header */
#header {
    width: 100%;
    height: 50px;
    background: #576a8e;
}
    #header nav {
        width: 850px;
        margin: 0px auto;
    }
        #header ul { float: right; }
            #header li {
                padding: 0px 10px;
                float: left;
            }
                #header li > a {
                    line-height: 50px;
                    color: #ffffff;
                    font-family: Skia;
                    font-size: 30px;
                    text-decoration: none;
                }
/* MainSection */
#main_section {
    width: 850px;
    margin: 0px auto;
    padding-bottom: 200px;
}
    .page_title {
        color: #7790bf;
        font-family: Skia;
        text-align: center;
        text-shadow:
            -3px -3px #ffffff,
            3px -3px #ffffff,
            -3px 3px #ffffff,
            3px 3px #ffffff;
    }
    .form { position: relative; }
    .input {
        width: 500px;
        height: 60px;
        padding-left: 10px;
        font-size: 30px;
        border-width: 3px 0px 3px 3px;
        border-style: solid;
        border-color: #878787;
        border-radius: 20px 0px 0px 20px;
        background-color: #ffffff;
    }
    .submit {
        width: 100px;
        height: 62px;
        line-height: 62px;
        font-size: 35px;
        text-align: center;
        color: #ffffff;
        border-width: 3px 3px 3px 0px;
        border-style: solid;
        border-color: #878787;
        border-radius: 0px 20px 20px 0px;
        background-color: #997070;
        cursor: pointer;
    }
    .lightbox {
        margin-left: auto;
        margin-right: auto;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(116,138,204,0.8);
        border-radius: 10px;
        background-color: rgba(156,179,236,0.8);
        display: none;
        word-wrap: break-word;
    }
        .lightbox:first-child {
            border-color: rgba(204,51,68,0.8) !important;
        }
        .lightbox_left {
            padding-left: 10px;
            text-align: left;
            font-size: 30px;
        }
        .cross {
            font-size: 30px;
            color: #d54343;
            position: absolute;
            top: 0px;
            right: 15px;
            cursor: pointer;
        }
    /* ErrorMessage */
    #error_message {
        width: 600px;
        line-height: 35px;
        margin-left: -300px;
        padding: 15px 0px;
        text-align: center;
        margin-top: 30px;
        position: absolute;
        top: 40%;
        left: 50%;
    }
        #error_message span {
            color: #d54343;
        }
    /* ArticleCompUrl */
    #article_compurl { padding-top: 100px; }
    #article_compurl > .page_title { font-size: 140px; }
    #compurl_set { margin-top: 60px; }
    #compurl_form {
        width: 610px;
        margin: 40px auto 0px;
    }
/*
        #compurl_setting {
            width: 100px;
            height: 62px;
            line-height: 62px;
            font-size: 35px;
            text-align: center;
            color: #ffffff;
            border-width: 3px 0px;
            border-style: solid;
            border-color: #878787;
            background: -moz-linear-gradient(top,
                #997070 0%,
                #bc9a9a 100%
            );
            background: -webkit-linear-gradient(top,
                #997070 0%,
                #bc9a9a 100%
            );
            cursor: pointer;
            position: absolute;
            top: 0px;
            _top: 1px;
            left: 403px;
        }
*/
        #compurl_submit {
            position: absolute;
            top: 0px;
            _top: 1px;
            left: 503px;
        }
        .lightbox[id^=compurl_seturl] {
            width: 600px;
            margin-bottom: 30px;
            padding: 15px 5px;
            position: relative;
        }
        /* article_API */
        #article_api { padding-top: 50px; }
        #article_api > .page_title { font-size: 50px; }
        #api_contents {
            width: 95%;
            margin: 20px 0px;
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(255,255,255,0.5);
        }

/* Footer */
#footer {
    width: 100%;
    height: 200px;
    background: #576a8e;
    position: absolute;
    bottom: 0;
}
    #footer a {
        width: 325px;
        padding: 0px 2px 3px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px dashed #878787;
        display: block;
    }
        #footer a:hover {
            color: #000;
            border-bottom: 1px dashed #fff;
        }
    #footer article {
        width: 850px;
        height: 160px;
        margin: 0px auto;
        padding: 20px 0px;
        font-size: 15px;
        position: relative;
    }
        #footer_main {
            width: 850px;
            color: #fff;
        }
            #footer_main h2 {
                font-size: 20px;
                margin-bottom:10px;
            }
            #footer_main li { margin: 15px 0px; }
        #footer footer {
            width: 850px;
            margin: 0px auto;
            position: absolute;
            bottom: 20px;
        }
        #footer footer > p {
            text-size: 15px;
            text-align: center;
            color: #fff;
        }


