
            <article id="article_compurl">

                <h1 class="page_title">CompURL</h1>

                <form action="#" method="get" class="form" id="compurl_form">
                    <input type="text" name="url" class="input" id="compurl_input">
                    <div class="submit" id="compurl_submit">短縮</div>
                </form>

                <div id="compurl_set"></div>

            </article>
